Displays.Driver/Service References/ThrottleService/ScottPage.RollsRoyce.TestCellSimulator.Simulation.Models.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ScottPage.RollsRoyce.TestCellSimulator.Simulation.Models" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ScottPage.RollsRoyce.TestCellSimulator.Simulation.Models" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Range">
    <xs:sequence>
      <xs:element minOccurs="0" name="Maximum" type="xs:double" />
      <xs:element minOccurs="0" name="Minimum" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Range" nillable="true" type="tns:Range" />
</xs:schema>