Displays.Driver/Service References/ThrottleService/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ThrottleService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="tcp_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/ScottPage.RollsRoyce.TestCellSimulator.Simulation.Models" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IThrottleService_GetLeverAngle_InputMessage">
    <wsdl:part name="parameters" element="tns:GetLeverAngle" />
  </wsdl:message>
  <wsdl:message name="IThrottleService_GetLeverAngle_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetLeverAngleResponse" />
  </wsdl:message>
  <wsdl:message name="IThrottleService_UpdateLeverAngle_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateLeverAngle" />
  </wsdl:message>
  <wsdl:message name="IThrottleService_GetRange_InputMessage">
    <wsdl:part name="parameters" element="tns:GetRange" />
  </wsdl:message>
  <wsdl:message name="IThrottleService_GetRange_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetRangeResponse" />
  </wsdl:message>
  <wsdl:portType msc:usingSession="false" name="IThrottleService">
    <wsdl:operation name="GetLeverAngle">
      <wsdl:input wsaw:Action="http://tempuri.org/IThrottleService/GetLeverAngle" message="tns:IThrottleService_GetLeverAngle_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IThrottleService/GetLeverAngleResponse" message="tns:IThrottleService_GetLeverAngle_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateLeverAngle">
      <wsdl:input wsaw:Action="http://tempuri.org/IThrottleService/UpdateLeverAngle" message="tns:IThrottleService_UpdateLeverAngle_InputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetRange">
      <wsdl:input wsaw:Action="http://tempuri.org/IThrottleService/GetRange" message="tns:IThrottleService_GetRange_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IThrottleService/GetRangeResponse" message="tns:IThrottleService_GetRange_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="tcp" type="tns:IThrottleService">
    <wsp:PolicyReference URI="#tcp_policy" />
    <soap12:binding transport="http://schemas.microsoft.com/soap/udp" />
    <wsdl:operation name="GetLeverAngle">
      <soap12:operation soapAction="http://tempuri.org/IThrottleService/GetLeverAngle" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateLeverAngle">
      <soap12:operation soapAction="http://tempuri.org/IThrottleService/UpdateLeverAngle" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="GetRange">
      <soap12:operation soapAction="http://tempuri.org/IThrottleService/GetRange" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ThrottleService">
    <wsdl:port name="tcp" binding="tns:tcp">
      <soap12:address location="soap.udp://scottsurface4:10003/" />
      <wsa10:EndpointReference>
        <wsa10:Address>soap.udp://scottsurface4:10003/</wsa10:Address>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>